In [ ]:
"""
Created on 1 April 2021
author: cjburrage

"""

In [5]:
import pandas as pd
df = pd.read_csv('/Users/Char/Desktop/laser_combined_05Apr.csv')
df.head(n=5)

/Users/Char/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (11,14,16,18,42) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,X_id,date,callsign,acType,remarks,ncport,orig.faa,dest.faa,com.pat,com.cnt,...,day,hour,minute,laser_color.x,laser_color.y,injuries,laserClockDir,degreeLaserDir,adj.alt,flightStatus
0,5d2de0d02834ae4512fd68a7,2012-02-01T08:07:00.000Z,SKW4557,"CRJ2, CANADAIR, Challenger 800",Aircraft illuminated by green laser whileE bo...,NaN,GRB,MSP,24 W Green Bay,1,...,1.0,2.0,7.0,GREEN,1.0,1,not reported,not reported,16000.0,not reported
1,5d2de1612834ae4512fee420,2011-01-01T07:30:00.000Z,ASA328,"B734, BOEING, 737-400","7 NM S SJC, San Jose, CA, heading E, 5,000 fe...",SJC,SJC,SEA,7 NM S SJC,1,...,31.0,23.0,30.0,GREEN,1.0,1,3 o'clock,180,5000.0,not reported
2,5d2de1612834ae4512fee421,2011-01-01T09:50:00.000Z,HAL387,"B712, BOEING, 717-200",At 0446 the pilot reported a green laser eman...,HNL,HNL,KOA,HNL220/004,1,...,31.0,23.0,50.0,GREEN,1.0,1,not reported,not reported,1512.6,descent
3,5d2de1612834ae4512fee43d,2011-01-01T05:02:00.000Z,UCA8737,"DH8B, DE HAVILLAND CANADA, Dash 8 (200)","7 NM SW DJB VORTAC, Cleveland, OH, heading W,...",CLE,SBN,CLE,7 NM SW DJB,1,...,1.0,0.0,2.0,GREEN,1.0,1,12 o'clock,270,8500.0,not reported
4,5d2de1612834ae4512fee440,2011-01-01T06:14:00.000Z,NKS642,"A319, AIRBUS, A-319","12 NM W TPA, Tampa, FL, heading W, 3,000 feet...",TPA,DTW,TPA,12 NM W TPA,1,...,1.0,1.0,14.0,WHITE,4.0,1,not reported,not reported,3000.0,not reported

In [6]:
df.shape

(51045, 47)

In [7]:
import re

In [8]:
#create new column with distance from landmark (airport or other) reported in remarks as NM

NM = ['NM']
df['Dist'] = df['remarks'].str.findall(r'[\d]+ (?i)\b(?:{})\b'.format('|'.join(NM))).apply(', '.join)

In [9]:
#check to make sure new column added
df.head()

,X_id,date,callsign,acType,remarks,ncport,orig.faa,dest.faa,com.pat,com.cnt,...,hour,minute,laser_color.x,laser_color.y,injuries,laserClockDir,degreeLaserDir,adj.alt,flightStatus,Dist
0,5d2de0d02834ae4512fd68a7,2012-02-01T08:07:00.000Z,SKW4557,"CRJ2, CANADAIR, Challenger 800",Aircraft illuminated by green laser whileE bo...,NaN,GRB,MSP,24 W Green Bay,1,...,2.0,7.0,GREEN,1.0,1,not reported,not reported,16000.0,not reported,
1,5d2de1612834ae4512fee420,2011-01-01T07:30:00.000Z,ASA328,"B734, BOEING, 737-400","7 NM S SJC, San Jose, CA, heading E, 5,000 fe...",SJC,SJC,SEA,7 NM S SJC,1,...,23.0,30.0,GREEN,1.0,1,3 o'clock,180,5000.0,not reported,7 NM
2,5d2de1612834ae4512fee421,2011-01-01T09:50:00.000Z,HAL387,"B712, BOEING, 717-200",At 0446 the pilot reported a green laser eman...,HNL,HNL,KOA,HNL220/004,1,...,23.0,50.0,GREEN,1.0,1,not reported,not reported,1512.6,descent,
3,5d2de1612834ae4512fee43d,2011-01-01T05:02:00.000Z,UCA8737,"DH8B, DE HAVILLAND CANADA, Dash 8 (200)","7 NM SW DJB VORTAC, Cleveland, OH, heading W,...",CLE,SBN,CLE,7 NM SW DJB,1,...,0.0,2.0,GREEN,1.0,1,12 o'clock,270,8500.0,not reported,7 NM
4,5d2de1612834ae4512fee440,2011-01-01T06:14:00.000Z,NKS642,"A319, AIRBUS, A-319","12 NM W TPA, Tampa, FL, heading W, 3,000 feet...",TPA,DTW,TPA,12 NM W TPA,1,...,1.0,14.0,WHITE,4.0,1,not reported,not reported,3000.0,not reported,12 NM

In [15]:
#create separate columns to pull out #different ways they reported distance (note some reported as NM were not
# included in original "dist" column above, tried again, varying the regex pattern slighltly)
#these were later examined in excel

mile = ['mile']
df['mile'] = df['remarks'].str.findall(r'[\d]+ (?i)\b(?:{})\b'.format('|'.join(mile))).apply(', '.join)

miles = ['miles']
df['miles'] = df['remarks'].str.findall(r'[\d]+ (?i)\b(?:{})\b'.format('|'.join(miles))).apply(', '.join)

NM2 = ['NM']
df['NM2'] = df['remarks'].str.findall(r'[\d]+(?i)\b(?:{})\b'.format('|'.join(NM2))).apply(', '.join)

In [ ]:
#check to make sure new columns added
df.head()

In [16]:
#write output to file

df.to_csv('/Users/Char/Desktop/lasers2.csv', index = False)